[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/socrata-cookbooks/java.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
